<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="case_status.css">
  <title>Case Status</title>
</head>
<body>
  <div class="nav">
    <ul>
      <li><a href="home_site">Home</a></li>
    </ul>
  </div>

  <ul class="user-list">
    <% data.forEach(function(d) { %>
      <li class="user-item">
        <strong class="eier">Eier: <%= d.eier_tickets %></strong>
        <strong class="status">Status: <%= d.status %></strong>
        <strong class="tidsramme">Tidsramme: <%= d.tidsramme %></strong>
        <strong class="bilde">Bilde: <%= d.bilde %></strong>
        <strong class="review">Review: <%= d.review %></strong>
        <strong class="start_tid">Starttid: <%= d.start_tid %></strong>
        <strong class="tid_slutt">Tid slutt: <%= d.tid_slutt %></strong>
        <strong class="kategori">Kategori: <%= d.kategori %></strong>
        <strong class="problem">Problem: <%= d.problem %></strong>
      </li>
    <% }); %>
  </ul>

  <script src="klient.js"></script>
</body>
</html>
