<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user_info.css">
    <title>User Information</title>
</head>
<body>
    <h1>User information</h1>

    <div class="user-info">
        <img src="<%= d.image %>" alt="<%= d.name %>">
        <h2><%= d.name %></h2>
        <p>Lastname: <%= d.lastname %></p>
        <p>Email: <%= d.email %></p>
        <p>Tlf: <%= d.tlf %></p>
        <p>Age: <%= d.age %></p>
    </div>

    <form action="/user_info" method="post">
        <div class="input-field">
            <input type="image" name="image" id="image" placeholder="Image">
        </div>
      </form>

    <div class="user_info">
        <button><a href="/home_site">Home</a></button>
    </div>
    <script src="klient.js"></script>
</body>
</html>