<!DOCTYPE html>
<html>
<head>
  <title>Brukerinformasjon</title>
</head>
<body>
  <h1>User Information</h1>

    <% data.forEach(function(d) { %>
        <h2><%= d.brukernavn %> <%= d.mellomnavn %> <%= d.etternavn %></h2>
        <p><strong>E-post:</strong> <%= d.email %></p>
        <p><strong>Telefon:</strong> <%= d.tlf %></p>
        <p><strong>Alder:</strong> <%= d.alder %></p>
    

       
    <% if (data.bilde) { %>
      <img src="/uploads/<%= d.image %>" alt="Profilbilde">
    <% } else { %>
      <p>Ingen bilde tilgjengelig</p>
    <% } %>
 

  <form action="/user_info" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT"> 

    <label for="name">Navn:</label>
    <input type="text" name="brukernavn" value="<%= d.brukernavn %>">

    <label for="lastname">mellomnavn:</label>
    <input type="text" name="mellomnavn" value="<%= d.mellomnavn %>">

    <label for="lastname">Etternavn:</label>
    <input type="text" name="etternavn" value="<%= d.etternavn %>">

    <label for="email">E-post:</label>
    <input type="email" name="email" value="<%= d.email%>">

    <label for="tlf">Telefon:</label>
    <input type="number" name="tlf" value="<%= d.tlf %>">

    <label for="age">Alder:</label>
    <input type="number" name="age" value="<%= d.alder %>">

    <label for="image">Profilbilde:</label>
    <input type="file" name="image">

    <button type="submit">Oppdater informasjon</button>
    <a href="home_site">Home</a>
    <% }); %>
  </form>
</body>
</html>
